body {
    background-color: black;
    background-image: url(background_main.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    font-family: 'Arial', Helvetica, sans-serif;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.mainmenu {
    display: flex;
}

.title {
    display: none;
    justify-content: center;
}

.mainmenu button {
    position: relative;
    top: 250px;
    display: flex;
    width: 250px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #373ae0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    caret-color: transparent;
    justify-content: center;
    margin-bottom: 30px;
}

.mainmenu button:active {
    background-color: #88c3fa;
    color: white;
    box-shadow: none;
    transform: translateY(4px);
    border: solid 3px white;
}

.fio button:active {
    background-color: #88c3fa;
    color: white;
    box-shadow: none;
    transform: translateY(4px);
    border: solid 3px white;
}

.readme button:active {
    background-color: #88c3fa;
    color: white;
    box-shadow: none;
    transform: translateY(4px);
    border: solid 3px white;
}

.gallery button:active {
    background-color: #88c3fa;
    color: white;
    box-shadow: none;
    transform: translateY(4px);
    border: solid 3px white;
}

.returnfiobutton:hover, .readmebutton:hover, .gallerybutton:hover, .returnreadmebutton:hover , .returngallerybutton:hover{
    transform: scale(1.005);
    background-color: #c00d00;
    border: solid black 3px;
    color: black;
    font-weight: bold;
}

.readmebutton:hover {
    transform: scale(1.005);
    background-color: #c00d00;
    border: solid black 3px;
    color: black;
    font-weight: bold;
    rotate: 5deg;
}

.fiobutton:hover {
    transform: scale(1.005);
    background-color: rgb(3, 3, 201);
    border: solid black 3px;
    color: black;
    font-weight: bold;
    rotate: -5deg;
}

.gallerybutton:hover {
    transform: scale(1.005);
    background-color: rgb(238, 102, 181);
    border: solid black 3px;
    color: black;
    font-weight: bold;
    rotate: 5deg;
}

.readme, .gallery {
    display: none;
}

.fio {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.fbday {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 110px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #373ae0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    caret-color: transparent;
    margin-bottom: 0px;
}

.fbday div {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -32px;
}

.fbday p {
    background-color: #000;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 10px;
    font-size: 36px; /* Adjust font size as needed */
    margin-bottom: 7px;
}


.returnfiobutton {
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 100px;
    margin-top: 10px; /* Adjust the top margin to create space between the countdown and the button */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #373ae0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block; /* Ensure the button appears as a block element */
}


.textcard {
    max-width: 100%; /* Set maximum width */
    width: 80%; /* Adjust as needed */
    background: #ffffff;
    padding: 20px;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
    margin: 20px; /* Adjust margin as needed */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    flex-direction: row;
    font-weight: bold;
    text-decoration: none;
}

.textcard p {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.trouble{
    margin-left: 0px;
}

@media screen and (max-width: 768px) {
    .textcard {
        width: 90%; /* Adjust width for smaller screens */
    }
}

.readmecard {
    width: 1000px;
    background: #ffffff;
    padding: 20px;
    border-radius: 1px;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
    flex-wrap: wrap;
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.returnreadmebutton {
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 100px;
    margin-top: 10px; /* Adjust the top margin to create space between the countdown and the button */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #373ae0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block; /* Ensure the button appears as a block element */
}

.readme {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.gallerycard {
    max-width: 50%; /* Set maximum width */
    min-width: 50px;
    width: 250px; /* Adjust as needed */
    background: #ffffff;
    padding: 20px;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;
    margin: 20px; /* Adjust margin as needed */
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    text-decoration: none;
}

.gallerycard p {
    text-align: center;
    justify-content: center;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.returngallerybutton {
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 100px;
    margin-top: 10px; /* Adjust the top margin to create space between the countdown and the button */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #373ae0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    display: block; /* Ensure the button appears as a block element */
}

.gallery {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}